.header {
    background-color: red;
    padding: 1%;
    text-align: center;
}
.nav {
    background-color: orange;
    padding: 1%;
}
.nav > .nav__item {
    margin: 10px;
}
.nav__item {
    color:aquamarine
}
.nav__item_seleted {
    color:fuchsia;
}
.main {
    background-color: green;
    padding: 1%;
}
.main__item {
    background-color: blue;
    color:white;
}
.footer {
    background-color: blueviolet;
    padding: 1%;
    text-align: center;
    font-size: 2rem;
}
